# OS
Thumbs.db
*.DS_Store

# IDE
*.user
*.suo
*.sln.docstates
.vs/
*.csproj.user

# Build
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb

# NuGet
packages/
*.nupkg
project.lock.json

# Node / Docusaurus
node_modules/
.docusaurus/
build/
.cache-loader/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project specific
/assets/
*.zip
